body {
    font-family: sans-serif;
}

nav {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    width: 99%;
    top: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    font-size: 50px;
    font-family: monospace;
    margin-left: 5%;
}

.white {
    color: #ffffff;
    text-shadow: 1px 1px 10px #00bfff;
}

.blue {
    color: #00bfff;
    text-shadow: 1px 1px 10px #ffffff;
}

.nav-container {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.nav-links:hover {
    color: #00bfff;
}

.dropdown {
    display: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 130px;
}

header img {
    width: 400px;
    height: auto;
}

header h1 {
    color: #00bfff;
}

section {
    padding-top: 100px;
}

.section-title {
    color: #00bfff;
    font-size: 25px;
}

#registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 350px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border: 1px solid #808080;
    border-radius: 20px;
    box-shadow: 10px 10px 25px #808080;
}

label {
    display: flex;
    flex-direction: column;
}

.radio-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.input-style,
select {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #f5f5f5;
    padding: 4px;
}

.input-style:focus {
    background-color: #dcf6ff;
}

button {
    font-size: 16px;
    border: none;
    width: 90px;
    height: 40px;
    padding: 10px;
    background-color: #00bfff;
    color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #000000;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ppal {
    width: 65%;
}

.card img {
    width: 85%;
}

.italic {
    font-style: italic;
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 300px;
}

.card h3 {
    text-align: center;
    background-color: #cccc88;
    width: 100%;
    padding: 5.04px;
}

.card h4 {
    text-align: center;
    background-color: #cccc88;
    width: 100%;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f5f5f5;
}

@media(max-width: 900px) {
    .nav-container {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .menu:hover {
        color: #00bfff;
    }

    .img-header {
        width: 400px;
    }

    .ppal {
        width: 90%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: -100px;
        background-color: #1f1f1f;
        color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #000;
        z-index: 1;
        border-radius: 20px;
    }

    .dropdown-content a {
        color: #fff;
        font-size: 13px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 20px;
    }

    .dropdown-content a:hover {
        /* background-color: ; */
        color: #00bfff;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}